In [16]:
a = {'姓名':'賴宏瑋','性別':'男','作業分數':[95,100,90]}
b = {'學號':'M1129020'}
c = {**a, **b}
import copy
d = copy.deepcopy(c)
c['作業分數'][1] = 80
d['姓名'] = '許珈綺'
d['性別'] = '女'
d['學號'] = 'M1229001'
e = c.pop('作業分數')
f = (e[0]+e[1]+e[2])/3
print(f)
print(c)
g = d.pop('作業分數')
h = (g[0]+g[1]+g[2])/3
print(h)
print(d)

88.33333333333333
{'姓名': '賴宏瑋', '性別': '男', '學號': 'M1129020'}
95.0
{'姓名': '許珈綺', '性別': '女', '學號': 'M1229001'}

In [15]:
a = [100,50,45,60,90,95,80,50]
b = [88]
c = b + a
c[3:6] = [70,50]
c.remove(50)
d = c.pop(0)
f = c.pop()
g = d + f
print(g)

138

In [14]:
a = 347//3
b = 347%3
c = a**b
print(c)

13225